<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="restApi.apiListener"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="restApi.toTestFirstEspGetApi"/>
      <class name="restApi.ToGetRandomDataByGet"/>
      <class name="restApi.ToGetZIPCode"/>
      <class name="restApi.ToPostResourceNew"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
